<body>
<header>
<div class="container">
<div class="logo"><strong><h1>PureSMP</h1></strong></div>

<nav>
<ul>
<li>
<%= link_to "Home", pure_smp_home_url, class: 'a' %>
</li>
<li>
<%= link_to "About", pure_smp_About_url, class: 'a' %>
</li>
<li>
<%= link_to "Our Mission", pure_smp_Mission_url, class: 'a' %>
</li>
<li>
<%= link_to "rules", pure_smp_rule_url, class: 'a' %>
</li>
<li>
<%= link_to "Contact", pure_smp_Contact_url, class: 'a' %>
</li>
</ul>
</nav>
</div>
</header>
</body>
<div class="gap"></div>
<center>

<h1>About this website</h1>
<div class="gap"></div>

<div class="textContainer">
<p class="fontMed">This website is made for the Minecraft server PureSMP. I actually planned on making this like a years ago but I just didnt find out the perfect time until the "Pendemic". When the pendemic came I was firstly pretty hype because then I can chill with the boys at home but soon like one month in i was bored AF. I survived by playing loads of Minecraft like hypixel by my self for a half a year until 5/12/2020. That day I thought "Hey I know how to program right? Yeah so why don't I make a server and website for my Minecraft server?" And thats when I really started to build this project.</p>
</div>

</center>