<body>
<header>
<div class="container">
<div class="logo"><strong><h1>PureSMP</h1></strong></div>

<nav>
<ul>
<li>
<%= link_to "Home", pure_smp_home_url, class: 'a' %>
</li>
<li>
<%= link_to "About", pure_smp_About_url, class: 'a' %>
</li>
<li>
<%= link_to "Our Mission", pure_smp_Mission_url, class: 'a' %>
</li>
<li>
<%= link_to "rules", pure_smp_rule_url, class: 'a' %>
</li>
<li>
<%= link_to "Contact", pure_smp_Contact_url, class: 'a' %>
</li>
</ul>
</nav>
</div>
</header>
</body>
<div class="gap"></div>
<center>
<div class="textContainer">
<p>Email: kwu01165@gmail.com</p>
<p>Youtube: Ruby Dev</p>

</div>
</center>