<body>
<header>
<div class="container">
<div class="logo"><strong><h1>PureSMP</h1></strong></div>

<nav>
<ul>
<li>
<%= link_to "Home", pure_smp_home_url, class: 'a' %>
</li>
<li>
<%= link_to "About", pure_smp_About_url, class: 'a' %>
</li>
<li>
<%= link_to "Our Mission", pure_smp_Mission_url, class: 'a' %>
</li>
<li>
<%= link_to "Rules", pure_smp_rule_url, class: 'a' %>
</li>
<li>
<%= link_to "Contact", pure_smp_Contact_url, class: 'a' %>
</li>


</ul>
</nav>
</div>
</header>
</body>

<div class="gap"></div>

<center>
<h1>Welcome to the offical site of </h1>
<h1><span class="SMPcolour">PureSMP</span></h1>
<div class="gap"></div>
<p>Inorder to join <span class="SMPcolour">PureSMP</span>, type in <span class="SMPcolour">PuredSMP.aternos.me</span> into the server ip</p>
<p>If you are having trouble logging in, email me then i will send you a detailed tutorail video on how to join.</p>
<p>The SMP is currently only made for 1.16.4. Java Edition only</p>
<div class="gap"></div>
<h1>Please note that before playing please read the rules</h1>
<p>Please go read the rules by clicking <span class="SMPcolour"><%= link_to "Here" , pure_smp_rule_url %></span>
<div class="textContainer">

<h1>Join Our DISCORD <span class="SMPcolour">PureSMP</span> by clicking connect in the box below!</h1>
<iframe src="https://discord.com/widget?id=799084597417214022&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</div>
</center>
<div class="gap" ></div>
<center>
<div class="textContainer">
<h1>Server opearting hours</h1>
<p>Monday: 8:30 PM to 10:00 PM</p>
<p>Tuesday: 5:00 PM to 10:00 PM</p>
<p>Wednesday: 6:00 PM to 10:00 PM</p>
<p>Thursday: 8:30 PM to 10:00 PM</p>
<p>Friday: 5:00 PM to 10:00 PM</p>
<p>Saturday: 8:00 PM to 10:00 PM</p>
<p>Sunday: 8:00 PM to 10:00 PM</p>
<hr>
<h1>Server Holidays/Closed days</h1>
<p>New Year</p>
<p>Chinese New Year</p>
<p>July 11th/Kevin's Birthday</p>
<p>Minecraft Server Maintance days will be in discord server in annoucments!</p>

</div>
</center>
<div class="gap"></div>