<body>
<header>
<div class="container">
<div class="logo"><strong><h1>PureSMP</h1></strong></div>

<nav>
<ul>
<li>
<%= link_to "Home", pure_smp_home_url, class: 'a' %>
</li>
<li>
<%= link_to "About", pure_smp_About_url, class: 'a' %>
</li>
<li>
<%= link_to "Our Mission", pure_smp_Mission_url, class: 'a' %>
</li>
<li>
<%= link_to "Rules", pure_smp_rule_url, class: 'a' %>
</li>
<li>
<%= link_to "Contact", pure_smp_Contact_url, class: 'a' %>
</li>
</ul>
</nav>
</div>
</header>
</body>


<div class="gap"></div>
<center>
<div class="textContainer">
<h1>Our mission</h1>
<p>"Our mission is to bring more fun then ever to a Minecraft server! The point of this server is to not let people feel lonely about there lives, personally I have been quarantined for about one year by now. It starts to feel lonely so I thought if i was lonely, then others may be too!</p>

<p>Then I came up with a plan to stop this boring stuff and get people to be playing together!</p>
<p>And thats when i decided to make a server followed by a community called PureSMP"</p>
<p>-Kevin Wu Creator of PureSMP</p>
</div>
</center>