<body>
<header>
<div class="container">
<div class="logo"><strong><h1>PureSMP</h1></strong></div>

<nav>
<ul>
<li>
<%= link_to "Home", pure_smp_home_url, class: 'a' %>
</li>
<li>
<%= link_to "About", pure_smp_About_url, class: 'a' %>
</li>
<li>
<%= link_to "Our Mission", pure_smp_Mission_url, class: 'a' %>
</li>
<li>
<%= link_to "Rules", pure_smp_rule_url, class: 'a' %>
</li>
<li>
<%= link_to "Contact", pure_smp_Contact_url, class: 'a' %>
</li>
</ul>
</nav>
</div>
</header>
</body>
<div class="gap"></div>
<center>

<h1>Important <span class="SMPcolour">RULES</span> of <span class="SMPcolour">PureSMP</span><h1>
<div class="gap"></div>
</center>
<div class="textContainer">
<p>1.  <span class="SMPcolour"> Be Kind</span></p>
<p>2.  <span class="SMPcolour"> No griefing</span></p>
<p>3.  <span class="SMPcolour"> No mods</span></p>
<p>4.  <span class="SMPcolour"> No war</span></p>
<p>5.  <span class="SMPcolour"> No swears in chat</span></p>
<p>6.  <span class="SMPcolour"> Must be at least 5 years old or older to play on SMP</span></p>
<p>7.  <span class="SMPcolour"> Dont DM Staff on discord! Especially Yo Yo Man Kevin on discord</span></p>
<p>8.  <span class="SMPcolour"> Appropriate usernames in both Minecraft and Discord</span></p>
<p>9.  <span class="SMPcolour"> No putting bounties on other people!</span></p>
<p>10. <span class="SMPcolour"> No disturbing links both in Minecraft and Discord</span></p>
<center><h1>Last Updated at 1/17/2021 by Kevin Wu</h1></center>
</div>


